.animation-2 {
  .frame-1 {
    .css-typing-1 {
      opacity: 1;
    }
    .css-typing-2 {
      opacity: 1;
    }
    .css-typing-3 {
      opacity: 1;
    }
    p.meta {
      opacity: 1;
    }
  }
  .disable-1 {
    opacity: 1;
  }
  .frame-2 {
    opacity: 1;
  }
  .disable-2 {
    opacity: 1;
  }
  .frame-3 {
    opacity: 1;
  }
  .comment-bubble {
    opacity: 1;
  }
  .bubble {
    opacity: 1;
  }
}