.animation-3 .frame-1 .stats .left .value-4 {
  opacity: 1.0; }
  .animation-3 .frame-1 .stats .left .value-4 span {
    opacity: 1.0; }
.animation-3 .frame-1 .stats .right .value-4 {
  opacity: 1.0; }
  .animation-3 .frame-1 .stats .right .value-4 span {
    opacity: 1.0; }
.animation-3 .frame-2 {
  opacity: 1; }
.animation-3 .lightning {
  opacity: 1; }
  .animation-3 .lightning span.two {
    opacity: 1; }
